h1{
   color: rgb(2, 110, 34);
   font-family: Georgia;
   font-size: 40px;
   text-align: center;
  }
h2{
    text-align: center;
    font-family: Lucida;
    font-size: 30px;
}
  body{background-color: rgb(7, 190, 32);}
  button{
  background-color: lightblue;
  font-size: 18px
  }